{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Oriented HTML Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" /> <!-- https://fonts.google.com/ -->    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="{% static 'css/templatemo-business-oriented.css' %}" rel="stylesheet" />
</head>
<!--

TemplateMo 549 Business Oriented

https://templatemo.com/tm-549-business-oriented

-->
<body>
    <div id="parallax-1" class="parallax-window" data-parallax="scroll" data-image-src="img/biz-oriented-header.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                            data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="dark-blue-text"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/services">Services</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/about">Track <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/contact">More</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-7">
        <div class="row mb-4">
            <section class="col-lg-4 mb-8 tm-px-3">
                <div class="tm-box-bordered p-5">
                    <h3 class="tm-title-gray mb-3">健康資訊追蹤</h3>
                    <hr class="mb-4 tm-hr tm-hr-s">
                    <p class="mb-4">系統會將使用者的紀錄做圖表呈現，按下以下“ Sign in ”按鈕，系統會對使用者做人臉拍攝，做使用者與資料歸屬者進行核對。若核對成功，再按下以下“ Track... ”，會開放使用者紀錄呈現。</p>
                    
                    <p class="mb-4"></p>
                    <button type="button" class="btn btn-primary" onclick="track()">Track...</button>
                </div>
            </section>
            <div class="col-lg-4 col-md-6 mb-8 tm-px-3">
                
                <img src="{% static 'img/體溫.png' %}" alt="Image" class="img-fluid">
                
            </div>
            <div class="col-lg-4 col-md-6 mb-8 tm-px-3">
                <img src="{% static 'img/舒張壓.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mb-8 tm-px-3">
                <img src="{% static 'img/收縮壓.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mb-8 tm-px-3">
                <img src="{% static 'img/血糖.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mb-8 tm-px-3">
                <img src="{% static 'img/心情.png' %}" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
    <div id="parallax-3" class="parallax-window parallax-window-2" data-parallax="scroll"
        data-image-src="{% static 'img/biz-oriented-footer-3.jpg' %}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    
                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid">
        <div class="row">
            <p class="col-lg-9 col-md-8 mb-5 mb-md-0">
                
            </p>
            <div class="col-lg-3 col-md-4 text-right">
                <a rel="nofollow" target="_blank" href="https://www.facebook.com/mohw.gov.tw" class="tm-social-link">
                    <i class="fab fa-facebook fa-2x tm-social-icon"></i>
                </a>
                <a href="https://twitter.com/MOHW_Taiwan" class="tm-social-link">
                    <i class="fab fa-twitter fa-2x tm-social-icon"></i>
                </a>
                <a href="https://page.line.me/mohw" class="tm-social-link">
                    <i class="fab fa-line fa-2x tm-social-icon"></i>
                </a>
                <a href="https://www.youtube.com/c/%E4%B8%AD%E8%8F%AF%E6%B0%91%E5%9C%8B%E8%A1%9B%E7%94%9F%E7%A6%8F%E5%88%A9%E9%83%A8" class="tm-social-link">
                    <i class="fab fa-youtube fa-2x tm-social-icon"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script> <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="{% static 'js/tooplate-script.js' %}"></script>
    <script>
        function track(){
            $.ajax({
                type: "GET",
                url: "/track_start",
                data: {},
                crossDomain: true,
                success: callbackFunc
            });
        }

        function callbackFunc(response){
            console.log(response)
        }

        $(document).ready(function () {
            $('#parallax-1').parallax({ imageSrc: 'img/biz-oriented-header.jpg' });
            $('#parallax-3').parallax({ imageSrc: 'img/biz-oriented-footer-3.jpg' });
        });
    </script>
</body>
</html>